{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script defer data-domain="devnotes.tramline.app" src="https://plausible.io/js/script.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ get_url(path="styles/header.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="styles/styles.css") }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="favicon.png") }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="favicon.png") }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="favicon.png") }}">
    <title>Tramline | Engineering notes</title>
    <style type="text/css">
     body {
       text-rendering: optimizeLegibility;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
     }
    </style>
  </head>

  <body class="bg-[#f6f5e9] bg-no-repeat bg-gradient-to-br min-h-screen border-b-8 border-black">
    {{ macros::header() }}
    <div class="border-b mb-3"></div>
    <main>
      <div class="px-2">
        <div class="mb-24 mt-16 px-4">
          <h1 data-w-id="18a9bc4c-33dd-e424-566d-cf277b93ef10" class="text-center heading-large style-J5dMq my-8" id="style-J5dMq">
            Short notes from engineering
          </h1>
          <div class="container max-w-[625px] mx-auto text-center
                      prose prose-lg
                      prose-a:border-b-[1px] prose-a:border-slate-500 prose-a:font-sans prose-a:no-underline
                      hover:prose-a:border-slate-200">
            <p>
              Micro-posts on programming and patterns as we build <a href="https://tramline.app/" target="_blank">Tramline</a> in public.
              Follow this <a href="/atom.xml">feed</a> if you find these tidbits interesting.
            </p>
          </div>
        </div>
      </div>
      {% block content %}
      {% endblock content %}
    </main>
  </body>
</html>
