{% extends "base.html" %}

{% block content %}

<div class="feed">
	{% for page in paginator.pages %}
	<div class="update">
		<div class="update-t">
			{{ page.date | date(format="%Y-%m-%d %H:%M") }}
			<br/>
			<span>➡</span>
			<span>{{ page.extra.who | safe }}</span>
		</div>
		<div class="update-s">{{ page.content | safe }}</div>
	</div>
	{% endfor %}
</div>

<nav class="pageControls">
	{% if paginator.previous %}
	<a class="pageButton" href="{{ paginator.previous }}">←</a>
	{% endif %}
	
	{% if paginator.next %}
	<a class="pageButton" href="{{ paginator.next }}">→</a>
	{% endif %}
</nav>

{% endblock content %}