// This is extracted CSS from tramline.app to render the tramline.app header
// It is probably not very good CSS.

@font-face {
  font-family:objektiv-mk1;
  src:url(https://use.typekit.net/af/e91fed/00000000000000007735fd7a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/e91fed/00000000000000007735fd7a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/e91fed/00000000000000007735fd7a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3) format("opentype");
  font-weight:400;
  font-style:italic;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:objektiv-mk1;
  src:url(https://use.typekit.net/af/fdbde9/00000000000000007735fd85/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/fdbde9/00000000000000007735fd85/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/fdbde9/00000000000000007735fd85/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
  font-weight:400;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:objektiv-mk1;
  src:url(https://use.typekit.net/af/081868/00000000000000007735fd7d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff2"),url(https://use.typekit.net/af/081868/00000000000000007735fd7d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("woff"),url(https://use.typekit.net/af/081868/00000000000000007735fd7d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3) format("opentype");
  font-weight:500;
  font-style:italic;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:objektiv-mk1;
  src:url(https://use.typekit.net/af/978d4f/00000000000000007735fd81/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/978d4f/00000000000000007735fd81/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/978d4f/00000000000000007735fd81/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
  font-weight:500;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:objektiv-mk1;
  src:url(https://use.typekit.net/af/7bfe96/00000000000000007735fd7f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/7bfe96/00000000000000007735fd7f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/7bfe96/00000000000000007735fd7f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
  font-weight:700;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:objektiv-mk1;
  src:url(https://use.typekit.net/af/4e7a51/00000000000000007735fd7e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff2"),url(https://use.typekit.net/af/4e7a51/00000000000000007735fd7e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("woff"),url(https://use.typekit.net/af/4e7a51/00000000000000007735fd7e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3) format("opentype");
  font-weight:700;
  font-style:italic;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:new-spirit;
  src:url(https://use.typekit.net/af/de4bea/00000000000000007735c4bc/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff2"),url(https://use.typekit.net/af/de4bea/00000000000000007735c4bc/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("woff"),url(https://use.typekit.net/af/de4bea/00000000000000007735c4bc/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3) format("opentype");
  font-weight:500;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
}

@font-face {
  font-family:new-spirit;
  src:url(https://use.typekit.net/af/19f9aa/00000000000000007735c4be/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff2"),url(https://use.typekit.net/af/19f9aa/00000000000000007735c4be/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("woff"),url(https://use.typekit.net/af/19f9aa/00000000000000007735c4be/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3) format("opentype");
  font-weight:600;
  font-style:normal;
  font-stretch:normal;
  font-display:auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: objektiv-mk1,sans-serif;
    color: #2c323a;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

.w-nav {
    position: relative;
    background: #ddd;
    z-index: 1000;
}

.nav-bar {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    z-index: 200;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 3px 0 #c3cacf;
    font-family: objektiv-mk3;
}

.w-nav:after,.w-nav:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-nav:after {
    clear: both;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.nav-container {
    left: 0;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding: 12px 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.w-container:after,.w-container:before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
}

.w-container:after {
    clear: both;
}

.w-nav-overlay {
    position: absolute;
    overflow: hidden;
    display: none;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
}

.logo-div {
    display: block;
    padding-right: 15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
}

nav {
    display: block;
}

.w-nav-menu {
    position: relative;
    float: right;
}

.nav-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    background-color: transparent;
    -webkit-transition: color .2s;
    transition: color .2s;
    color: #1a9c1d;
    text-decoration: none;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.nav-logo {
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
}

a:active,a:hover {
    outline: 0;
}

a:hover {
    color: #1a9c1d;
}

.nav-logo:hover {
    opacity: .75;
}

.nav-menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
}

.nav-cta-button-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

.logo:hover {
    opacity: 1;
}

.w-nav-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    padding: 5px 11px;
    border-radius: 5px;
    -webkit-transition: color .2s,-webkit-transform .2s;
    transition: transform .2s,color .2s,-webkit-transform .2s;
    font-family: objektiv-mk1,sans-serif;
    color: #2c323a;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-transform: none;
    cursor: pointer;
}

.w-nav-link.w--current {
    color: #0082f3;
}

.nav-link.w--current {
    font-family: objektiv-mk1,sans-serif;
    color: #2c323a;
    font-weight: 700;
    text-transform: none;
}

.nav-link.tramline {
    font-family: objektiv-mk1,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link:hover {
    -webkit-transform: translate(0,-1px);
    -ms-transform: translate(0,-1px);
    transform: translate(0,-1px);
    color: #2c323a;
}

.nav-link.w--current:hover {
    -webkit-transform: translate(0,-1px);
    -ms-transform: translate(0,-1px);
    transform: translate(0,-1px);
}

.nav-link.minimal {
    margin-right: 8px;
    color: #1a9c1d;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link.cta {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
    background-color: #3ac63f;
    box-shadow: 0 1px 38px 0 rgba(0,0,0,.03);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-link.cta:hover {
    background-color: #1a9c1d;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-mCOZw.style-mCOZw {
   max-width: 1230px;
}
#style-233iE.style-233iE {
   max-width: 1230px;
}
#style-Bh6WI.style-Bh6WI {
   max-width: 1230px;
}
#style-gFOzb.style-gFOzb {
   max-width: 1230px;
}
#style-TAxeQ.style-TAxeQ {
   max-width: 1230px;
}
#style-pF8kx.style-pF8kx {
   max-width: 1230px;
}
#style-hcA5o.style-hcA5o {
   max-width: 1230px;
}
#style-4pCWX.style-4pCWX {
  -webkit-user-select: text;
}
#style-J5dMq.style-J5dMq {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

h1 {
  margin: 0 0 24px;
  padding-top: 10px;
  font-family: new-spirit,sans-serif;
  color: #2c323a;
  font-size: 44px;
  line-height: 1em;
  font-weight: 500;
}

.heading-large {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.1em;
    font-weight: 600;
}

.underline {
    display: inline-block;
    border-bottom: 8px #c4f34d;
    opacity: 1;
    text-decoration: underline;
}
